<ion-list>
  <ion-row>
    <ion-item>
      <ion-col size="4">
        <ion-label>Locator:</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-input type="text" [(ngModel)]="locator" (ngModelChange)="onLocatorChange()"
            placeholder="Select Locator"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-icon *ngIf="locator" (click)="onClearLocator()" name="pencil"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="chevron-forward-outline" (click)="onOpenLocator()"></ion-icon>
      </ion-col>
    </ion-item>
  </ion-row>
</ion-list>