<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="chevron-back" (click)="goToBack()"></ion-icon>
      <ion-icon name="home" defaultHref="/dashboard" class="icon"></ion-icon>
    </ion-buttons>
    <ion-title>Order#{{ item.PoNumber }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ item.ItemNumber }}</ion-card-title>
      <ion-card-subtitle>{{ item.ItemDesc }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <p>Qty Order: {{ item.QtyOrdered }} {{ item.ItemUom }}</p>
        </ion-item>
        <ion-item>
          <p>Qty Remaining: {{ item.QtyRemaining }} {{ item.ItemUom }}</p>
        </ion-item>
        <ion-item>
          <p>Quantity Received: {{ item.QtyOrdered - item.QtyRemaining }} {{ item.ItemUom }}</p>
        </ion-item>
        <ion-item>
          <p>Shipment #{{ item.PoShipmentNumber }}</p>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <app-uom [uomCode]="uomCode" (openUom)="goToCommonListPage('UOM')"
  (quantityChange)="onQuantityChange($event)"></app-uom>


  <app-sub-inv *ngIf="item.DestinationType==='Inventory'" [subInv]="subInvCode"
    (openSubInv)="goToCommonListPage('SUB-INV')" (clearSubInv)="onSubInvEdit()"
    (subInvChange)="onSubInvChange($event)"></app-sub-inv>

  <app-locator *ngIf="item.DestinationType==='Inventory'" [locator]="locatorCode"
    (openLocator)="goToCommonListPage('LOCATOR')" (clearLocator)="onLocatorEdit()"
    (locatorChanged)="onLocatorChange($event)"></app-locator>

  <app-lots *ngIf="item.IsLotControlled==='True'" [lotData]="lotData"
    (openLot)="goToCommonListPage('LOT-CONTROLLED')"></app-lots>

  <app-serials *ngIf="item.IsSerialControlled==='True'" [serialData]="SerialData"
    (openSerial)="goToCommonListPage('SERIAL-CONTROLLED')"></app-serials>

  <ion-button (click)="UpdateQty()" expand="block">
    SUBMIT
  </ion-button>
</ion-content>