ion-content {
  width: 100%;
}

cdk-virtual-scroll-viewport {
  height: 100%;
}

.receipt-card {
  height: 100%;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.po-number-btn {
  padding: 0;
  width: 40%;
  border: none;
  background: none;
  color: var(--ion-color-primary);
  text-decoration: none;
  cursor: default;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #e3f2fd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 10px;
}

ion-card{
  height: 100%;
}