/* org-list.page.scss */

ion-header {
    ion-toolbar {
      ion-title {
        text-align: center;
      }
    }
  }
  
  ion-content {
    
  
    ion-list {
      ion-item {
        ion-grid {
          ion-text {
            font-weight: bold;
          }
  
          ion-label {
            margin-left: 10px;
          }
        }
      }
    }
  }
  
  ion-footer {
    ion-toolbar {
      ion-button {
        margin: 10px;
      }
    }
  }
  